
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.app-header .branding {
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5rem; 
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
